@charset "UTF-8";
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.strong {
  font-family: bold “EYBold”, Arial; }

.caption {
  color: #343434;
  font-family: normal italic “EYLightItalic”, Arial; }

.hide {
  display: none; }

.show {
  display: inherit; }

.float-left {
  float: left;
  text-align: left; }

.float-right {
  float: right;
  text-align: right; }

/* Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.ma,
.mar-auto {
  margin-left: auto;
  margin-right: auto; }

.ml-a, .ml-auto {
  margin-left: auto; }

.mr-a, .mr-auto {
  margin-right: auto; }

.mar-0 {
  margin: 0px; }

.mar-5 {
  margin: 5px; }

.mar-10 {
  margin: 10px; }

.mar-15 {
  margin: 15px; }

.mar-20 {
  margin: 20px; }

.mar-25 {
  margin: 25px; }

.mar-30 {
  margin: 30px; }

.mar-35 {
  margin: 35px; }

.mar-40 {
  margin: 40px; }

.mt-0,
.mv-0 {
  margin-top: 0px; }

.mb-0,
.mv-0 {
  margin-bottom: 0px; }

@media (max-width: 767px) {
  .mb-mobile-0,
  .mv-mobile-0 {
    margin-bottom: 0px; }
  .mt-0,
  .mv-0 {
    margin-top: 0px; } }

@media (min-width: 767px) {
  .mb-desktop-0,
  .mv-desktop-0,
  .mb-sm-0,
  .mv-sm-0 {
    margin-bottom: 0px; }
  .mt-0,
  .mv-0,
  .mt-sm-0,
  .mv-sm-0 {
    margin-top: 0px; } }

@media print {
  .mb-print-0,
  .mv-print-0 {
    margin-bottom: 0px; }
  .mt-print-0,
  .mv-print-0 {
    margin-top: 0px; } }

.mt-5,
.mv-5 {
  margin-top: 5px; }

.mb-5,
.mv-5 {
  margin-bottom: 5px; }

@media (max-width: 767px) {
  .mb-mobile-5,
  .mv-mobile-5 {
    margin-bottom: 5px; }
  .mt-5,
  .mv-5 {
    margin-top: 5px; } }

@media (min-width: 767px) {
  .mb-desktop-5,
  .mv-desktop-5,
  .mb-sm-5,
  .mv-sm-5 {
    margin-bottom: 5px; }
  .mt-5,
  .mv-5,
  .mt-sm-5,
  .mv-sm-5 {
    margin-top: 5px; } }

@media print {
  .mb-print-5,
  .mv-print-5 {
    margin-bottom: 5px; }
  .mt-print-5,
  .mv-print-5 {
    margin-top: 5px; } }

.mt-10,
.mv-10 {
  margin-top: 10px; }

.mb-10,
.mv-10 {
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .mb-mobile-10,
  .mv-mobile-10 {
    margin-bottom: 10px; }
  .mt-10,
  .mv-10 {
    margin-top: 10px; } }

@media (min-width: 767px) {
  .mb-desktop-10,
  .mv-desktop-10,
  .mb-sm-10,
  .mv-sm-10 {
    margin-bottom: 10px; }
  .mt-10,
  .mv-10,
  .mt-sm-10,
  .mv-sm-10 {
    margin-top: 10px; } }

@media print {
  .mb-print-10,
  .mv-print-10 {
    margin-bottom: 10px; }
  .mt-print-10,
  .mv-print-10 {
    margin-top: 10px; } }

.mt-15,
.mv-15 {
  margin-top: 15px; }

.mb-15,
.mv-15 {
  margin-bottom: 15px; }

@media (max-width: 767px) {
  .mb-mobile-15,
  .mv-mobile-15 {
    margin-bottom: 15px; }
  .mt-15,
  .mv-15 {
    margin-top: 15px; } }

@media (min-width: 767px) {
  .mb-desktop-15,
  .mv-desktop-15,
  .mb-sm-15,
  .mv-sm-15 {
    margin-bottom: 15px; }
  .mt-15,
  .mv-15,
  .mt-sm-15,
  .mv-sm-15 {
    margin-top: 15px; } }

@media print {
  .mb-print-15,
  .mv-print-15 {
    margin-bottom: 15px; }
  .mt-print-15,
  .mv-print-15 {
    margin-top: 15px; } }

.mt-20,
.mv-20 {
  margin-top: 20px; }

.mb-20,
.mv-20 {
  margin-bottom: 20px; }

@media (max-width: 767px) {
  .mb-mobile-20,
  .mv-mobile-20 {
    margin-bottom: 20px; }
  .mt-20,
  .mv-20 {
    margin-top: 20px; } }

@media (min-width: 767px) {
  .mb-desktop-20,
  .mv-desktop-20,
  .mb-sm-20,
  .mv-sm-20 {
    margin-bottom: 20px; }
  .mt-20,
  .mv-20,
  .mt-sm-20,
  .mv-sm-20 {
    margin-top: 20px; } }

@media print {
  .mb-print-20,
  .mv-print-20 {
    margin-bottom: 20px; }
  .mt-print-20,
  .mv-print-20 {
    margin-top: 20px; } }

.mt-25,
.mv-25 {
  margin-top: 25px; }

.mb-25,
.mv-25 {
  margin-bottom: 25px; }

@media (max-width: 767px) {
  .mb-mobile-25,
  .mv-mobile-25 {
    margin-bottom: 25px; }
  .mt-25,
  .mv-25 {
    margin-top: 25px; } }

@media (min-width: 767px) {
  .mb-desktop-25,
  .mv-desktop-25,
  .mb-sm-25,
  .mv-sm-25 {
    margin-bottom: 25px; }
  .mt-25,
  .mv-25,
  .mt-sm-25,
  .mv-sm-25 {
    margin-top: 25px; } }

@media print {
  .mb-print-25,
  .mv-print-25 {
    margin-bottom: 25px; }
  .mt-print-25,
  .mv-print-25 {
    margin-top: 25px; } }

.mt-30,
.mv-30 {
  margin-top: 30px; }

.mb-30,
.mv-30 {
  margin-bottom: 30px; }

@media (max-width: 767px) {
  .mb-mobile-30,
  .mv-mobile-30 {
    margin-bottom: 30px; }
  .mt-30,
  .mv-30 {
    margin-top: 30px; } }

@media (min-width: 767px) {
  .mb-desktop-30,
  .mv-desktop-30,
  .mb-sm-30,
  .mv-sm-30 {
    margin-bottom: 30px; }
  .mt-30,
  .mv-30,
  .mt-sm-30,
  .mv-sm-30 {
    margin-top: 30px; } }

@media print {
  .mb-print-30,
  .mv-print-30 {
    margin-bottom: 30px; }
  .mt-print-30,
  .mv-print-30 {
    margin-top: 30px; } }

.mt-35,
.mv-35 {
  margin-top: 35px; }

.mb-35,
.mv-35 {
  margin-bottom: 35px; }

@media (max-width: 767px) {
  .mb-mobile-35,
  .mv-mobile-35 {
    margin-bottom: 35px; }
  .mt-35,
  .mv-35 {
    margin-top: 35px; } }

@media (min-width: 767px) {
  .mb-desktop-35,
  .mv-desktop-35,
  .mb-sm-35,
  .mv-sm-35 {
    margin-bottom: 35px; }
  .mt-35,
  .mv-35,
  .mt-sm-35,
  .mv-sm-35 {
    margin-top: 35px; } }

@media print {
  .mb-print-35,
  .mv-print-35 {
    margin-bottom: 35px; }
  .mt-print-35,
  .mv-print-35 {
    margin-top: 35px; } }

.mt-40,
.mv-40 {
  margin-top: 40px; }

.mb-40,
.mv-40 {
  margin-bottom: 40px; }

@media (max-width: 767px) {
  .mb-mobile-40,
  .mv-mobile-40 {
    margin-bottom: 40px; }
  .mt-40,
  .mv-40 {
    margin-top: 40px; } }

@media (min-width: 767px) {
  .mb-desktop-40,
  .mv-desktop-40,
  .mb-sm-40,
  .mv-sm-40 {
    margin-bottom: 40px; }
  .mt-40,
  .mv-40,
  .mt-sm-40,
  .mv-sm-40 {
    margin-top: 40px; } }

@media print {
  .mb-print-40,
  .mv-print-40 {
    margin-bottom: 40px; }
  .mt-print-40,
  .mv-print-40 {
    margin-top: 40px; } }

.ml-0,
.mh-0 {
  margin-left: 0px; }

.mr-0,
.mh-0 {
  margin-right: 0px; }

@media (max-width: 767px) {
  .ml-mobile-0,
  .mh-mobile-0 {
    margin-left: 0px; }
  .mr-mobile-0,
  .mh-mobile-0 {
    margin-right: 0px; } }

.ml-5,
.mh-5 {
  margin-left: 5px; }

.mr-5,
.mh-5 {
  margin-right: 5px; }

@media (max-width: 767px) {
  .ml-mobile-5,
  .mh-mobile-5 {
    margin-left: 5px; }
  .mr-mobile-5,
  .mh-mobile-5 {
    margin-right: 5px; } }

.ml-10,
.mh-10 {
  margin-left: 10px; }

.mr-10,
.mh-10 {
  margin-right: 10px; }

@media (max-width: 767px) {
  .ml-mobile-10,
  .mh-mobile-10 {
    margin-left: 10px; }
  .mr-mobile-10,
  .mh-mobile-10 {
    margin-right: 10px; } }

.ml-15,
.mh-15 {
  margin-left: 15px; }

.mr-15,
.mh-15 {
  margin-right: 15px; }

@media (max-width: 767px) {
  .ml-mobile-15,
  .mh-mobile-15 {
    margin-left: 15px; }
  .mr-mobile-15,
  .mh-mobile-15 {
    margin-right: 15px; } }

.ml-20,
.mh-20 {
  margin-left: 20px; }

.mr-20,
.mh-20 {
  margin-right: 20px; }

@media (max-width: 767px) {
  .ml-mobile-20,
  .mh-mobile-20 {
    margin-left: 20px; }
  .mr-mobile-20,
  .mh-mobile-20 {
    margin-right: 20px; } }

.ml-25,
.mh-25 {
  margin-left: 25px; }

.mr-25,
.mh-25 {
  margin-right: 25px; }

@media (max-width: 767px) {
  .ml-mobile-25,
  .mh-mobile-25 {
    margin-left: 25px; }
  .mr-mobile-25,
  .mh-mobile-25 {
    margin-right: 25px; } }

.ml-30,
.mh-30 {
  margin-left: 30px; }

.mr-30,
.mh-30 {
  margin-right: 30px; }

@media (max-width: 767px) {
  .ml-mobile-30,
  .mh-mobile-30 {
    margin-left: 30px; }
  .mr-mobile-30,
  .mh-mobile-30 {
    margin-right: 30px; } }

.ml-35,
.mh-35 {
  margin-left: 35px; }

.mr-35,
.mh-35 {
  margin-right: 35px; }

@media (max-width: 767px) {
  .ml-mobile-35,
  .mh-mobile-35 {
    margin-left: 35px; }
  .mr-mobile-35,
  .mh-mobile-35 {
    margin-right: 35px; } }

.ml-40,
.mh-40 {
  margin-left: 40px; }

.mr-40,
.mh-40 {
  margin-right: 40px; }

@media (max-width: 767px) {
  .ml-mobile-40,
  .mh-mobile-40 {
    margin-left: 40px; }
  .mr-mobile-40,
  .mh-mobile-40 {
    margin-right: 40px; } }

.pad-0 {
  padding: 0px; }

.pad-5 {
  padding: 5px; }

.pad-10 {
  padding: 10px; }

.pad-15 {
  padding: 15px; }

.pad-20 {
  padding: 20px; }

.pad-25 {
  padding: 25px; }

.pad-30 {
  padding: 30px; }

.pad-35 {
  padding: 35px; }

.pad-40 {
  padding: 40px; }

.pt-0,
.pv-0 {
  padding-top: 0px; }

.pb-0,
.pv-0 {
  padding-bottom: 0px; }

@media (max-width: 767px) {
  .pt-mobile-0,
  .pv-mobile-0 {
    padding-top: 0px; }
  .pb-mobile-0,
  .pv-mobile-0 {
    padding-bottom: 0px; } }

.pt-5,
.pv-5 {
  padding-top: 5px; }

.pb-5,
.pv-5 {
  padding-bottom: 5px; }

@media (max-width: 767px) {
  .pt-mobile-5,
  .pv-mobile-5 {
    padding-top: 5px; }
  .pb-mobile-5,
  .pv-mobile-5 {
    padding-bottom: 5px; } }

.pt-10,
.pv-10 {
  padding-top: 10px; }

.pb-10,
.pv-10 {
  padding-bottom: 10px; }

@media (max-width: 767px) {
  .pt-mobile-10,
  .pv-mobile-10 {
    padding-top: 10px; }
  .pb-mobile-10,
  .pv-mobile-10 {
    padding-bottom: 10px; } }

.pt-15,
.pv-15 {
  padding-top: 15px; }

.pb-15,
.pv-15 {
  padding-bottom: 15px; }

@media (max-width: 767px) {
  .pt-mobile-15,
  .pv-mobile-15 {
    padding-top: 15px; }
  .pb-mobile-15,
  .pv-mobile-15 {
    padding-bottom: 15px; } }

.pt-20,
.pv-20 {
  padding-top: 20px; }

.pb-20,
.pv-20 {
  padding-bottom: 20px; }

@media (max-width: 767px) {
  .pt-mobile-20,
  .pv-mobile-20 {
    padding-top: 20px; }
  .pb-mobile-20,
  .pv-mobile-20 {
    padding-bottom: 20px; } }

.pt-25,
.pv-25 {
  padding-top: 25px; }

.pb-25,
.pv-25 {
  padding-bottom: 25px; }

@media (max-width: 767px) {
  .pt-mobile-25,
  .pv-mobile-25 {
    padding-top: 25px; }
  .pb-mobile-25,
  .pv-mobile-25 {
    padding-bottom: 25px; } }

.pt-30,
.pv-30 {
  padding-top: 30px; }

.pb-30,
.pv-30 {
  padding-bottom: 30px; }

@media (max-width: 767px) {
  .pt-mobile-30,
  .pv-mobile-30 {
    padding-top: 30px; }
  .pb-mobile-30,
  .pv-mobile-30 {
    padding-bottom: 30px; } }

.pt-35,
.pv-35 {
  padding-top: 35px; }

.pb-35,
.pv-35 {
  padding-bottom: 35px; }

@media (max-width: 767px) {
  .pt-mobile-35,
  .pv-mobile-35 {
    padding-top: 35px; }
  .pb-mobile-35,
  .pv-mobile-35 {
    padding-bottom: 35px; } }

.pt-40,
.pv-40 {
  padding-top: 40px; }

.pb-40,
.pv-40 {
  padding-bottom: 40px; }

@media (max-width: 767px) {
  .pt-mobile-40,
  .pv-mobile-40 {
    padding-top: 40px; }
  .pb-mobile-40,
  .pv-mobile-40 {
    padding-bottom: 40px; } }

.pl-0,
.ph-0 {
  padding-left: 0px; }

.pr-0,
.ph-0 {
  padding-right: 0px; }

@media (max-width: 767px) {
  .pl-mobile-0,
  .ph-mobile-0 {
    padding-left: 0px; }
  .pr-mobile-0,
  .ph-mobile-0 {
    padding-right: 0px; } }

.pl-5,
.ph-5 {
  padding-left: 5px; }

.pr-5,
.ph-5 {
  padding-right: 5px; }

@media (max-width: 767px) {
  .pl-mobile-5,
  .ph-mobile-5 {
    padding-left: 5px; }
  .pr-mobile-5,
  .ph-mobile-5 {
    padding-right: 5px; } }

.pl-10,
.ph-10 {
  padding-left: 10px; }

.pr-10,
.ph-10 {
  padding-right: 10px; }

@media (max-width: 767px) {
  .pl-mobile-10,
  .ph-mobile-10 {
    padding-left: 10px; }
  .pr-mobile-10,
  .ph-mobile-10 {
    padding-right: 10px; } }

.pl-15,
.ph-15 {
  padding-left: 15px; }

.pr-15,
.ph-15 {
  padding-right: 15px; }

@media (max-width: 767px) {
  .pl-mobile-15,
  .ph-mobile-15 {
    padding-left: 15px; }
  .pr-mobile-15,
  .ph-mobile-15 {
    padding-right: 15px; } }

.pl-20,
.ph-20 {
  padding-left: 20px; }

.pr-20,
.ph-20 {
  padding-right: 20px; }

@media (max-width: 767px) {
  .pl-mobile-20,
  .ph-mobile-20 {
    padding-left: 20px; }
  .pr-mobile-20,
  .ph-mobile-20 {
    padding-right: 20px; } }

.pl-25,
.ph-25 {
  padding-left: 25px; }

.pr-25,
.ph-25 {
  padding-right: 25px; }

@media (max-width: 767px) {
  .pl-mobile-25,
  .ph-mobile-25 {
    padding-left: 25px; }
  .pr-mobile-25,
  .ph-mobile-25 {
    padding-right: 25px; } }

.pl-30,
.ph-30 {
  padding-left: 30px; }

.pr-30,
.ph-30 {
  padding-right: 30px; }

@media (max-width: 767px) {
  .pl-mobile-30,
  .ph-mobile-30 {
    padding-left: 30px; }
  .pr-mobile-30,
  .ph-mobile-30 {
    padding-right: 30px; } }

.pl-35,
.ph-35 {
  padding-left: 35px; }

.pr-35,
.ph-35 {
  padding-right: 35px; }

@media (max-width: 767px) {
  .pl-mobile-35,
  .ph-mobile-35 {
    padding-left: 35px; }
  .pr-mobile-35,
  .ph-mobile-35 {
    padding-right: 35px; } }

.pl-40,
.ph-40 {
  padding-left: 40px; }

.pr-40,
.ph-40 {
  padding-right: 40px; }

@media (max-width: 767px) {
  .pl-mobile-40,
  .ph-mobile-40 {
    padding-left: 40px; }
  .pr-mobile-40,
  .ph-mobile-40 {
    padding-right: 40px; } }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 62em) {
    .container {
      width: 80%; } }
  @media (min-width: 75em) {
    .container {
      width: 75%;
      max-width: 60rem; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.33333%; }

.col-2-sm {
  width: 12.66667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33333%; }

.col-5-sm {
  width: 37.66667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33333%; }

.col-8-sm {
  width: 62.66667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33333%; }

.col-11-sm {
  width: 87.66667%; }

.col-12-sm {
  width: 96%; }

@media (min-width: 62em) {
  .col-1 {
    width: 4.33333%; }
  .col-2 {
    width: 12.66667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33333%; }
  .col-5 {
    width: 37.66667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33333%; }
  .col-8 {
    width: 62.66667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33333%; }
  .col-11 {
    width: 87.66667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

button {
  display: inline-block;
  padding: .938em 1.875em;
  color: #343434;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
  margin: 0 0.125em;
  text-decoration: none;
  font: bold 1rem sans-serif;
  border-radius: 0.1875em; }
  button:hover {
    box-shadow: inset 0 1px 3px 0px rgba(0, 0, 0, 0.4); }
  button:hover {
    background: #202020;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  button:active {
    background: black; }
  button:disabled {
    cursor: default; }
    button:disabled:hover {
      box-shadow: none; }

.btn-green {
  background: #1eab1e;
  color: #333; }
  .btn-green:hover {
    background: #188818;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn-green:active {
    background: #0b3f0b; }
  .btn-green:disabled {
    background: #0b3f0b; }

.btn-blue {
  background: #3498db;
  color: #fff; }
  .btn-blue:hover {
    background: #2383c4;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #16527a; }
  .btn-blue:disabled {
    background: #16527a; }

.btn:disabled {
  background: #f5f5f5;
  color: #ccc; }
  .btn:disabled:hover {
    background: #e1e1e1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn:disabled:active {
    background: #b5b5b5; }
  .btn:disabled:disabled {
    background: #b5b5b5; }

.btn-light-grey {
  background: #f2f2f2;
  color: #333; }
  .btn-light-grey:hover {
    background: #dedede;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .btn-light-grey:active {
    background: #b2b2b2; }
  .btn-light-grey:disabled {
    background: #b2b2b2; }

.container {
  margin: 0 !important;
  padding: 0 !important; }

header {
  background-color: #333;
  border-bottom: 4px solid #bfbfbf;
  clear: both;
  color: #fff;
  display: flex;
  justify-content: space-between; }
  .home-page header {
    padding: 0; }
    .home-page header .app-logo {
      padding: 0; }
  header .app-logo {
    padding: 2.375em 0.9375em 0.625em; }

.route--active {
  font-weight: bold;
  text-decoration: underline;
  background: #000;
  color: #fff !important; }

.project-header {
  margin: 2rem 0 .75rem; }

.main-nav {
  display: flex;
  align-items: flex-end; }
  .main-nav a {
    padding: 4.375em 0.9375em 0.9375em 0.9375em;
    font-size: 1em;
    color: #777f86;
    text-decoration: none;
    border-left: 0.0625em solid #5b5d57; }
    .main-nav a:before {
      font-family: FontAwesome;
      display: block; }
    .main-nav a:hover {
      transition: color 360ms ease-in-out;
      color: #fff; }
  footer .main-nav li {
    width: 25%; }
  footer .main-nav span {
    display: none; }

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin: 0 0.625em; }
  ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 0.625em 0.9375em;
    cursor: pointer; }
    ul.tabs li h3 {
      color: #60b9ff; }
    ul.tabs li.current {
      background: #fff;
      color: #222; }
      ul.tabs li.current h3 {
        color: inherit; }

.tab-content {
  opacity: 0;
  background: #fff;
  height: 0;
  visibility: hidden; }
  .tab-content.current {
    opacity: 1;
    padding: 1.25em;
    height: auto;
    visibility: visible;
    -webkit-transition: visibility 100ms linear, opacity 500ms linear;
    -moz-transition: visibility 100ms linear, opacity 500ms linear;
    -o-transition: visibility 100ms linear, opacity 500ms linear;
    transition: visibility 100ms linear, opacity 500ms linear; }
    .tab-content.current p {
      line-height: inherit; }

.tabs-wrapper {
  background: rgba(40, 95, 142, 0.8); }
  .tabs-wrapper h1,
  .tabs-wrapper p {
    color: #fff;
    padding-left: 0.625em; }
  .tabs-wrapper h1 {
    padding-top: 0.625em; }

form label {
  float: left; }

form select, form input {
  background-color: #f2f2f2;
  border: solid 1px #dfdfdf;
  padding: 1.25em 0.625em 0.875em 0.625em;
  margin: 0.3125em 0;
  width: auto;
  height: 30px;
  display: inline-block;
  font-size: 1rem; }

form input {
  padding: 0.90625em 0.625em;
  font-size: 1rem;
  width: 100%; }
  form input:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: 0; }
  form input:focus:-moz-placeholder {
    color: red; }
  form input:focus input[placeholder] {
    color: red; }
  form input + span {
    position: relative;
    display: block; }
    form input + span.check:after {
      content: "\f00c";
      font-family: FontAwesome;
      position: absolute;
      right: 3%;
      top: 50%;
      display: block;
      color: green;
      font-size: 30px;
      margin-top: -50px; }

form input[type="radio"] {
  float: left;
  margin-right: 5px;
  width: auto; }

form .btn-footer {
  margin-top: 0.9375em; }
  form .btn-footer a {
    margin-left: 0.9375em; }
  form .btn-footer button {
    width: 100%;
    margin-bottom: 20px; }
    @media (min-width: 26em) {
      form .btn-footer button {
        width: auto;
        margin-bottom: 0; } }

form .field-container {
  display: inline-block;
  position: relative; }
  form .field-container label {
    position: absolute;
    font-size: .7rem;
    top: 3px;
    left: 10px;
    z-index: 10; }

form .deliverables_col .field-container label {
  margin-left: 15px; }

.summary.table {
  background: #f9f9f9; }
  .summary.table td {
    border-top: 0.125em solid #fff;
    border-right: 0.125em solid #fff;
    margin: .1em; }
  .summary.table th {
    background: #fff;
    border-top: none;
    border-right: 0.125em solid #fff;
    border-bottom: 2px solid #000; }

.summary-info tr:first-of-type, .financial-summary tr:first-of-type {
  border-top: 0.1875em solid #000; }

.summary-text {
  background: #f9f9f9; }

footer {
  margin-top: 7.1875em;
  background-color: #f2f2f2;
  border-top: 0.0625em solid #e6e6e6;
  color: #c0c0c0;
  font-family: "EYBold", Arial;
  font-size: 0.6875em;
  padding: 0.6875em 1.375em;
  position: static; }
  footer li.current {
    background: #644a6e; }
  footer li.projects a:before {
    content: "\f03a"; }
  footer li.reports a:before {
    content: "\f15c"; }
  footer li.about a:before {
    content: "\f05a"; }
  footer li.profile a:before {
    content: "\f007"; }

.progressBar h6 {
  font-size: 0.75em; }

.progressBar a {
  color: #d3d3d3;
  text-decoration: none;
  transition: color 360ms ease-in-out; }

.progressBar ul {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  width: 55vw;
  padding-left: 0; }

.progressBar li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 0.125em;
  list-style: none;
  text-align: center; }
  .progressBar li:nth-child(3) {
    flex: 2 2 0.625em; }

.active-route--breadCrumb {
  color: #000 !important;
  font-weight: bold; }

.home-page {
  background: url("/images/splash_bg.png") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh; }
  .home-page header .float-right div {
    background: #2d4455;
    padding: 1.25em; }
  .home-page header .float-left {
    padding: 1.25em 0 1.25em 0.625em; }
  .home-page header h1,
  .home-page header p {
    color: #fff; }
  .home-page .container {
    margin: 0 0.625em; }
    .home-page .container h2 {
      margin-bottom: 3.75em;
      color: #fff; }

.targetBlock {
  position: absolute; }

.content {
  position: relative;
  top: 91px; }

.list-view {
  clear: both; }

.mainContainer {
  padding-left: 0;
  padding-right: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.project-header h1 .btn {
  float: none; }

.page-container {
  font-family: tahoma, arial; }
