$black: #000;
$white: #fff;

// EY Greys

$night: #333333;
$dove: #646464;
$dust: #d1d1d1;
$silver: #c0c0c0;
$smoke: #f0f0f0;
$dark-smoke: #d8d8d8;

// Brand Colors
$yellow: #ffe600;
$green: #2c973e;
$teal: #00a3ae;
$dark-teal: #00818c;
$blue: #006;
$lilac: #ac98db;
$purple: #91278f;
$red: #f04C3e;
$amber: #ffc500;

// Status Colors
$polar-green: #eaf5ec;
$corn-silk: #fff9e5;
$golden: #ffc500;
$ochre: #efb400;
$pippin: #fdedec;
$powder-blue: #bfe8eb;
$white-smoke: #efefef;
$disabled: #c1c1c1;
$error-bg: #ff8080;

//saturated status colors
$green-sat: #d5ead8;
$golden-sat: #fff3cc;
$red-sat: #fcdbd8;
$teal-sat: #e0e0e0;

$turqouise: #ccedef;
$gray-cobalt: #346699;
$super-light-gray: #ebf0f5;
$light-mid_gray: #999;
$umber-mid_gray: #b7b7b7;
$lighter-mid_gray: #e8e8e8;

$input-grey-1: #ebebeb;
$input-grey-2: #f5f5f5;
$input-grey-3: #fafafa;
