.search-container {

}
.test-fb {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;  /*flex-direction flex-wrap shorthand*/
  justify-content: space-around;
  align-content: flex-start;
  li {
    width: 100px;
    height: 100px;
    background-color: #8cacea;
    margin: 8px;
    flex-grow: 1;
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 3;
    }
    &:nth-child(4) {
      order: 2;
    }
  }
}
.results {
  height: 250px;
  overflow: scroll;
}

// general layout
.content {
    position: relative;
    top: 91px;
}
.list-view {
  clear: both;
}
.mainContainer {
  padding-left: 0;
  padding-right: 0;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.page-container {
  font-family: tahoma, arial;
}
